 <div></div>

<header>
<div class ="logo">
<%=image_tag 'images.png'%>	
</div>
</header>
<div class ="bg">
<br>
<h2><i> WELCOME <%=current_user.email%> !</i></h2>

<h3><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></h3>

<main>
	<section>

		<div class ="create_question">

		    

			<%= form_for @question do |f|%>

			
			<h2><b><%=f.label :question ,value="Ask a Question" %></b></h2>
			<br>
			     <%=f.text_area :content ,cols:"100",rows:"5"%>
			<br>
			<div class="actions">
			<%=f.submit id: 'create_question'%>
			
		</div>
		<%end%>
		</div>
		<% x=0 %>
		<%y=0%>

		
		
			<%Question.all.each do |question|%>
			<div id="qa">
			<ul type="none">
			<li>
			    <h3><u>Q<%=x=x+1%></u>
				<i><%=question.content %></i></h3>
				<h4>(By : <%=question.user.email%> )</h4>
				 <!-- <a href="/questions/<%=x%>/edit">Edit</a> -->
				
			        <td><%= link_to 'Edit', edit_question_path(question) %></td>
			        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			      




				<button><%= link_to question.upvote_question_string(current_user.id), url_for(controller: 'upvote_question', action: 'toggle_vote',
				     question_id: question.id, email: question.user.email), method: :post,id: "upvote_question_#{question.id}" ,remote: true %></button> 

                    <p id ="count_upvote_question_<%=question.id%>">
                       Number of upvotes: <%=question.upvote_questions.count%>
	
                    </p>

				     


				</li>
				<br>
				<h4><u>Answers for Question:</u><%=y=y+1%></h4>
				<%question.answers.each do |answer|%>
				<li>
				<h4><%=answer.content%></h4>
				</li>
			    
				<%end%>



			
		</div>
		<div class ="answer_form">
			<%=form_for question.answers.new do |f| %>
			<%=hidden_field_tag 'answer[question_id]',question.id%>
			<br>
			<%=f.text_area :content,cols:"100", rows:"3"%>
			
			<%=f.submit id:'post_answer',value:"Answer"%>
			<br>
			<br>
			
			<%end%>



		</div>
	
 
		
       
        </li>
        <%end%>

        <div id='load_more'>
	    <%= render 'load_more', offset: 10 %>
       </div>

        


	</section>
</main>
</ul>
</div>

<button id="toTopButton">Scroll to Top</button>

<style type="text/css">
	#toTopButton{
		position: fixed;
		bottom: 20px;
		right: 20px;
	}
</style>
</body>
<script type="text/javascript">

	var moveToTopLibrary = function(){
		var interval;
		function goToTop(event){
			var y = window.scrollY;
			if(interval != null){
				clearInterval(interval);
			}
			interval = setInterval(function(){
						if(y > 0) y -= 10;
						else clearInterval(interval);
						window.scrollTo(0,y);
					},10);
		}

		function scrollEve(event) {
			if(interval != null && event.deltaY > 0){
				clearInterval(interval);
			}
		}
		var topButton = document.getElementById('toTopButton');
		window.addEventListener('wheel',scrollEve);
		topButton.addEventListener('click',goToTop);
	}

	moveToTopLibrary();
</script>



<script type="text/javascript">
    

	$.ajax({url: '/ajax',
		data: {
			text: "text"
		}
, success: function(data){
	console.log(data);
	console.log("request completed");
},
error: function(){
		console.log(arguments);

	console.log("some error");
}

});
</script>

